---
cloud: my-cloud-name
vm_flavor: performance1-8
vm_image_name: "Ubuntu 16.04 LTS (Xenial Xerus) (PVHVM)"
lan_name: jroll-cloud-lan
lan_subnet: 192.168.200.0/24
ssh_key_name: jroll

controller_hostname: controller.cloud.jroll.io
controller_internal_hostname: controller.lan.cloud.jroll.io
virthost_hostname: virthost.cloud.jroll.io
virthost_internal_hostname: virthost.lan.cloud.jroll.io
metalhost_hostname: metalhost.cloud.jroll.io
metalhost_internal_hostname: metalhost.lan.cloud.jroll.io

mysql_password: secretmysql
rabbit_password: secretrabbit
admin_password: secretadmin
service_password: secretservice
